html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

body {
  background-color: #eeeeee;
}

.page .content {
  text-align: center;
  max-height: 95%;
  padding-bottom: 10px;
  max-width: 960px;
  border-radius: 7px;
}

.page .content #number_of_people {
  border-width: 1px;
  width: 25%;
  display: inline-block;
  height: 35px;
  margin-right: 5px;
}

.page .content #shuffle_button {
  margin-bottom: 2px;
}

.page .content .results {
  text-align: left;
  margin: 5em;
  min-height: 200px;
}

.page .content .results .playerName,
.page .content .results .playerHand {
  display: inline-block;
}

.page .content .results .playerName {
  padding-right: 0px;
}

.page .content .results .playerHand {
  background: #e7e6e6;
  padding: 2px 0px 5px 10px;
  border-radius: 7px;
  width: auto;
  margin-bottom: 10px;
}

.page .title {
  font-size: 84px;
}

